Repository astzoid/xetha, changes with the labels that .github/labeler.yml gives for each.
All labels: workflows, documentation, dependabot.yml, labeler.yml, athena, cathy, xanatha, frontend, backend, bot, package.json, snowpack.config.js, tsconfig.json, gitignore, lerna.json

.github/labeler.yml:

workflows:
  - .github/workflows/**

documentation:
  - '*.md'

dependabot.yml:
  - dependabot.yml

labeler.yml:
  - labeler.yml

athena:
  - athena/**

cathy:
  - cathy/**

xanatha:
  - xanatha/**

frontend:
  - athena/src/**

backend:
  - cathy/src/**

bot:
  - xanatha/src/**

package.json:
  - package.json

snowpack.config.js:
  - snowpack.config.js

tsconfig.json:
  - tsconfig.json

gitignore:
  - .gitignore

lerna.json:
  - lerna.json

ci(workflows): testing
  .github/workflows/test-athena.yml
  .github/workflows/test-cathy.yml
  .github/workflows/test-xanatha.yml
Labels: workflows

ci(tests): pr testing
  .github/workflows/pr-test-athena.yml
  .github/workflows/pr-test-cathy.yml
  .github/workflows/pr-test-xanatha.yml
Labels: workflows

fix(dependabot): directory must be an array of string
  .github/dependabot.yml
Labels: none

ci(commit): add push event
  .github/workflows/commit.yml
Labels: workflows

build(scripts): remove scripts [temporary]
  package.json
Labels: package.json

ci(workflows): remove commit
  .github/workflows/commit.yml
Labels: workflows

fix(dependabot): up-to-date dependencies
  .github/dependabot.yml
Labels: none

build(scripts): build and diff
  package.json
Labels: package.json

chore(gitignore): ignore log files
  .gitignore
Labels: gitignore

build(gitignore): remove package-lock.json
  .gitignore
  athena/package-lock.json
  cathy/package-lock.json
  package-lock.json
  xanatha/package-lock.json
Labels: athena, cathy, xanatha, gitignore

v1.4.9
  CHANGELOG.md
  athena/CHANGELOG.md
  athena/package.json
  cathy/CHANGELOG.md
  cathy/package.json
  lerna.json
  xanatha/CHANGELOG.md
  xanatha/package.json
Labels: documentation, athena, cathy, xanatha, lerna.json

fix(ci): working directory
  .github/workflows/deploy-athena.yml
  .github/workflows/deploy-cathy.yml
  .github/workflows/deploy-xanatha.yml
  .github/workflows/pr-test-athena.yml
  .github/workflows/pr-test-cathy.yml
  .github/workflows/pr-test-xanatha.yml
  .github/workflows/test-athena.yml
  .github/workflows/test-cathy.yml
  .github/workflows/test-xanatha.yml
Labels: workflows

v1.4.10
  CHANGELOG.md
  athena/CHANGELOG.md
  athena/package-lock.json
  athena/package.json
  cathy/CHANGELOG.md
  cathy/package-lock.json
  cathy/package.json
  lerna.json
  xanatha/CHANGELOG.md
  xanatha/package-lock.json
  xanatha/package.json
Labels: documentation, athena, cathy, xanatha, lerna.json

fix(ci): upload artifact path
  .github/workflows/deploy-athena.yml
  .github/workflows/deploy-cathy.yml
  .github/workflows/deploy-xanatha.yml
Labels: workflows
